* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

html {
    font-size: 10px;
}

body{
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    max-width: 102rem;
    font-family: "Lato", sans-serif;
}
.header {
    background-color:  #2d303a;
    border-bottom: 6px solid #323746;
    display: flex;
    justify-content: space-between;
    height: 9.5rem;
    padding:  1.9rem 0 1.6rem 0;
}

li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

.brand {
    margin: 1rem 0;
    text-transform: uppercase;
    text-align: left;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: -0.5px;
}

.brand__logo {
    color: #ffffff;
    text-decoration: none;
    margin-left: 4rem;
}

.brand__logo_icon {
    color: #f06c64;
}

.header__navigation {
    display: flex;
    margin-right: 4rem;
    justify-content: flex-end;
}

.navigation {
    list-style: none;
    margin: 1.4rem 0;
}

li {
    display: inline-block;
    font-size: 1.2rem;
    font-family: Lato, sans-serif;
    font-weight: 700;
    line-height: 2.6rem;
    letter-spacing: -0.07px;
    padding-right: 2.15rem;
}

li:last-child {
    padding: 0;
}

 li:not(:first-child)::before {
    content: ".";
    position: relative;
    bottom: 3px;
    left: -1.2rem;
    font-size: 2rem;
    color: #494e62;
}


.navigation a:hover,
.navigation_active {
    color: #f06c64;
}

/*---SLIDER---*/

.slider {
    background-color: #f06c64;
    border-bottom: 5px solid #ea676b;
    position: relative;
    max-height: 60rem ;
}
.wrapper {
    max-width: 94rem;
    margin: 0 auto;
    position: relative;
}

.slider__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 100%;
    padding: 5.1rem;
    margin-bottom: 3.2rem;
    max-width: 100%;
}

.phone__vertical{
    margin-left: 2.1rem;
    margin-top: 0.2rem;
}

.phone__horizontal{
    margin-right: 2rem;
}

.slider__control {
    display: inline-block;
    position: absolute;
    top: 28.1rem;
    cursor: pointer;
    width: 3.1rem;
    height: 3.1rem;
    background-color: #f06c64;
    background-repeat: no-repeat;
}

.slider__control:hover {
    opacity: .5;
}

.slider__control_left {
    background-image: url("./assets/chevLeft.svg");
    left: .2rem;

}
.slider__control_right {
    background-image: url("assets/chevLeft.svg");
    transform: rotateY(180deg);
    right: 0;
}
/*---SERVICES---*/

.services {
    color: #666d89;
    font-family: "Lato ", sans-serif;
}


.services__description {
    padding-top: 3.5rem;
}

.services__title {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: -0.2px;
    margin-bottom: 0;
}

.services__text {
    margin: 1.8rem 0;
    font-family: "Lato", sans-serif;
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: -0.2px;
    line-height: 3rem;
    text-align: justify;
    overflow: hidden;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2.3rem 0;
    font-family: "Lato", sans-serif;
}

.service {
    display: flex;
    margin-bottom: 1.7rem;
    width: 30.1rem;
}

.service__icon {
    padding: .6rem 0.1rem;
}

.service__content {
    padding-left: 2rem;
}

.service__title {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    margin: 0 0 0 -1px;
    letter-spacing: -0.05px;
    padding-top: .2rem;
    font-size: 1.8rem;
}

.service__text {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2.2rem;
    text-align: justify;
    letter-spacing: -0.2px;
    margin: .8rem 0;
    overflow: hidden;
}
